.hero {
    height: 350px;
    background-image: url("/Header.jpg");
    background-size: cover;
    background-position: center;
   position: relative;
}
.hero-overlay {
  background-color: rgba(0, 0, 0, 0.55);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2rem;
}